<% javascript 'rails' %>
<% css 'recipes/form' %>

<%= form_for @recipe do |f| %>
  <%= render 'shared/error_messages', :target => @recipe %>

  <div class='col1'>
    <dl id='recipe'>
      <dt><%= f.label :name %></dt>
      <dd><%= f.text_field :name %></dd>

      <%= f.fields_for :category, @recipe.category || Category.new do |f2| %>
        <dt><%= f2.label :name, 'Category' %></dt>
        <dd><%= f2.text_field :name %></dd>
      <% end %>
    </dl>

    <div>
      <%= f.label :directions %><br/>
      <%= f.text_area :directions %>
    </div>
  </div>
  <div class='col2' id='ingredients'>
      <h4>Ingredients <%= link_to 'add', '#', :class => 'add' %></h4>

      <dl>
        <dt>Quantity</dt>
        <dd>Name</dd>
      </dl>
      <%= f.fields_for :ingredients do |f2| %>
        <%= render 'ingredient', :f => f2 %>
      <% end %>
    </dl>
  </div>

  <div style='display:none' id='new-ingredient'>
    <%= f.fields_for :ingredients, @recipe.ingredients.build,
            :child_index => 'REPLACE_ME' do |f2| %>
      <%= render 'ingredient', :f => f2 %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
