<% javascript 'rails', 'recipes' %>
<% css 'recipes/form' %>

<%= form_for @recipe do |f| %>
  <%= render 'shared/error_messages', :target => @recipe %>

  <div>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>
  
  <fieldset id='category'>
    <legend>Category</legend>
    <div class='select-category'>
      <%= f.select :category_id, Category.all.map{ |c| [c.name, c.id] } %>
      or <%= link_to 'new category', '#' %>
    </div>
    <div class='new-category'>
      <%= f.fields_for :category, Category.new do |f2| %>
        <%= f2.label :name %>
        <%= f2.text_field :name %>
      <% end %>
    </div>
  </fieldset>

  <dl id='ingredients'>
    <dt>Ingredients</dt>
    <dd><%= link_to 'add', '#', :class => 'add' %></dd>

    <%= f.fields_for :ingredients do |f2| %>
      <%= render 'ingredient', :f => f2 %>
    <% end %>
  </dl>

  <div>
    <%= f.label :directions %><br/>
    <%= f.text_area :directions %>
  </div>

  <div style='display:none' id='new-ingredient'>
    <%= f.fields_for :ingredients, @recipe.ingredients.build,
            :child_index => 'REPLACE_ME' do |f2| %>
      <%= render 'ingredient', :f => f2 %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
