<% javascript 'rails' %>
<% stylesheet 'recipes/form' %>

<%= form_for @recipe, :remote => true do |f| %>
  <%= render 'shared/error_messages', :target => @recipe %>

  <div class='col1'>
    <dl id='recipe'>
      <dt><%= f.label :name %></dt>
      <dd><%= f.text_field :name %></dd>

      <dt><%= f.label :category_name, 'Category' %></dt>
      <dd><%= f.text_field :category_name %></dd>
    </dl>

    <div>
      <%= f.label :directions %><br/>
      <%= f.text_area :directions %>
    </div>
  </div>
  <div class='col2' id='ingredients'>
    <h4>Ingredients <%= link_to 'add', '#', :class => 'add' %></h4>

    <dl>
      <dt>Quantity</dt>
      <dd>Name</dd>
    </dl>
    <%= f.fields_for :ingredients do |f2| %>
      <%= render 'ingredient', :f => f2 %>
    <% end %>
  </div>

  <div style='display:none' id='new-ingredient'>
    <%= f.fields_for :ingredients, @recipe.ingredients.build,
            :child_index => 'REPLACE_ME' do |f2| %>
      <%= render 'ingredient', :f => f2 %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
