<% javascript 'box', 'rails', 'jquery/autocomplete' %>
<% stylesheet 'recipes/form', 'pagination' %>

<% if @user %>
  <div id='name'><%= @user.name %>'s Recipes</div>
<% else %>
  <div id='name'>Your Recipes</div>
<% end %>

<div id='buttons'>
  <% if can? :create, @user ? @user.recipes.build : Recipe %>
    <%= link_to content_tag(:span, 'Add recipe'),
          new_recipe_path, :remote => true, :class => 'add' %>

    <%= link_to content_tag(:span, 'Friends'),
          friends_path, :remote => true, :class => 'myfriends' %>
  <% else %>
    <%= link_to content_tag(:span, 'Other Friends'), friends_path,
          :class => 'friends', :remote => true %>
  <% end %>

  <%= link_to content_tag(:span, 'Search'),
        [@user, :recipes], :remote => true, :class => 'search' %>
</div>

<div id='card'>
  <%= link_to 'go back', '#', :class => 'close' %>

  <div class='content'>
  </div>
</div>
