<h1>Recipes</h1>

<div class='search'>
  <%= form_tag [:search, :recipes], :remote => true, :method => 'get' do %>
    <div>
      <%= text_field_tag :q, params[:q], :autocomplete => 'off',
            :placeholder => 'Search', :autofocus => true %>
    </div>
  <% end %>

  <div class='friends'>
    <%= link_to 'New Recipe', new_recipe_path %>
  </div>
</div>

<div id='results' class='pagination-container'>
  <%= render @recipes %>
  <%= paginate @recipes %>
</div>
