<h1><%= @user ? @user.name + "'s" : 'Your' %> Recipes</h1>

<div class='search'>
  <%= form_tag [:search, @user, :recipes], :remote => true, :method => 'get' do %>
    <div>
      <%= text_field_tag :q, params[:q], :autocomplete => 'off',
            :placeholder => 'Search', :autofocus => true %>

      <span class='friends'>
        <%= check_box_tag :friends, '1', params[:friends] == '1' %>
        <%= label_tag :friends, 'Search Friends' %>
      </span>
    </div>
  <% end %>
</div>

<div id='results' class='pagination-container'>
  <%= render @recipes %>

  <% if @user.nil? %>
    <div id='bottom-links'>
      <%= link_to 'New Recipe', new_recipe_path, :remote => true %>
    </div>
  <% end %>

  <%= will_paginate @recipes, :renderer => WillPaginate::AjaxLinkRenderer %>
</div>
