<% title @recipe.name + ' - Recipe Box' %>

<h2 class='recipe'>
  <%= @recipe.name %>
  <% if can? :update, @recipe %>
    <%= link_to '[edit]', [:edit, @recipe], :remote => true %>
  <% end %>
</h2>


<div class='scroll'>
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
      <li>
        <% if ingredient.quantity.present? %>
          <%= ingredient.quantity %> &mdash;
        <% end %>
        <%= ingredient.name %>
      </li>
    <% end %>
  </ul>

  <%= markdown @recipe.directions %>
</div>

<div id='bottom-links'>
  <fb:like href='<%= polymorphic_url [@recipe.user, @recipe] %>'/>
  <br/>
  <%= link_to 'Download',
          polymorphic_path([@user, @recipe], :format => 'pdf') %> |

  <% if can? :comment, @recipe %>
    <%= link_to pluralize(@recipe.comments_count, 'Comment'),
          [@user, @recipe, :comments], :remote => true %> |
  <% end %>

  <% if can? :destroy, @recipe %>
    <%= link_to 'Remove Recipe', @recipe, :method => :delete, :remote => true,
          :confirm => 'Are you sure?' %> |
  <% end %>

  <% if can? :create, @user ? @user.recipes.build : Recipe %>
    <%= link_to 'Add Recipe', new_recipe_path, :remote => true %> |
  <% end %>

  <% if @user %>
    <%= link_to "All of #{@user.first_name}'s recipes", [@user, :recipes],
          :remote => true %>
  <% else %>
    <%= link_to 'All Your Recipes', recipes_path, :remote => true %>
  <% end %>
</div>
