<h2>
  <%= @recipe.name %> <%= link_to '[edit]', [:edit, @recipe], :remote => true %>
</h2>

<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li>
      <%= ingredient.quantity %> &mdash;
      <%= ingredient.name %>
    </li>
  <% end %>
</ul>

<%= markdown @recipe.directions %>


<div id='bottom-links'>
  <%= link_to 'Add Recipe', new_recipe_path, :remote => true %> |
  <%= link_to 'All Recipes', recipes_path, :remote => true %>
</div>