<% title @recipe.name + ' - Recipe Box' %>

<h2 class='recipe'>
  <%= @recipe.name %>
  <%= link_to '[edit]', [:edit, @recipe] %>
</h2>

<div class='scroll'>
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
      <li>
        <% if ingredient.quantity.present? %>
          <%= ingredient.quantity %> &mdash;
        <% end %>
        <%= ingredient.name %>
      </li>
    <% end %>
  </ul>

  <%= markdown @recipe.directions %>
</div>

<div id='bottom-links'>
  <%= link_to 'Remove Recipe', @recipe, :method => :delete,
        :confirm => 'Are you sure?' %> |

  <%= link_to 'Add Recipe', new_recipe_path %> |
  <%= link_to 'All Recipes', recipes_path %>
</div>
