<h2><%= @recipe.name %></h2>

<dl>
  <% @recipe.ingredients.each do |ingredient| %>
    <dt><%= ingredient.quantity %></dt>
    <dd><%= ingredient.name %></dd>
  <% end %>
</dl>

<%= markdown @recipe.directions %>

<%= link_to 'Edit', [:edit, @recipe], :remote => true %>
