<!DOCTYPE html>
<html>
  <head>
    <title><%= show_title? ? yield(:title) : 'Recipe Box' %></title>
    <%= stylesheet_link_tag 'application', :media => 'all' %>
    <%= javascript_include_tag 'box' %>
    <%# javascripts 'box', 'rails', 'jquery/autocomplete' %>

    <%#= stylesheet_tags 'box', 'recipes/form', 'pagination' %>
    <%#= javascript_tags  %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="container">
      <div id='name'>Recipes</div>

      <div id='buttons'>
        <%= link_to content_tag(:span, 'Add recipe'),
              new_recipe_path, :class => 'add' %>

        <%= link_to content_tag(:span, 'Search'),
              :recipes, :class => 'search' %>
      </div>

      <div id='card'>
        <%= link_to 'go back', root_path, :class => 'close' %>

        <div class='content'>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
