<!DOCTYPE html>
<html>
  <head>
    <title><%= show_title? ? yield(:title) : 'Recipe Box' %></title>
    <%= stylesheet_tags 'application', 'box' %>
    <%= javascript_tags %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
